.titulo {
  color: #656464;
  font-size: 13px;
  font-weight: bold;
}

.fecha {
  font-weight:900;
  font-family: 'Roboto', sans-serif;
  font-size: 10px;
  margin: 0;
}

.contenedor {
  border: 1px solid;
  border-color: #beb8b8;
  border-radius: 15px;
  -webkit-box-shadow: 10px 10px 10px -9px rgba(163,161,163,1);
  -moz-box-shadow: 10px 10px 10px -9px rgba(163,161,163,1);
  box-shadow: 10px 10px 10px -9px rgba(163,161,163,1);
}

.black-progres-bar {
  background: black;
  border-radius: 15px;
}
.grey-progres-bar {
  background: #aaadaf
}

.progress {
  border-radius: 15px;
  height: 12px
}

.pay-button {
  background-color: #0090df;
  font-weight:400;
  color: white;
  border-radius:28px;
  cursor:pointer;
  font-size:10px;
  padding:1px 28px;
  text-decoration:none;
  text-shadow:0px 1px 0px #0090df;
}

.pago {
  font-weight: bold;
  font-size: 20px;
  margin: 0;
}

.estadoDeuda {
  color: #a6a6a6;
  font-weight:900;
  font-family: 'Roboto', sans-serif;
  font-size: 9px;
  margin: 0;
}

.cantidadFactura {
  font-weight: 900;
  font-size: 34px;
  margin: 0;
  color: #707070;
}

.datosFactura {
  font-weight: 500;
  font-size: 10px;
  color:#a8a8a8;
  margin:0
}

.print-button {
  font-family: 'Roboto', sans-serif;
  background-color: #1fa1d2;
  font-weight: 500;
  color: white;
  border-radius:28px;
  cursor:pointer;
  font-size:10px;
  padding:2px 20px;
  text-decoration:none;
  text-shadow:0px 1px 0px #0090df;
}

.reclamoFactura {
  font-weight: bold;
  font-size: 8px;
  color:#868686;
  margin:0
}

.labelForm {
  font-weight: bold;
  font-size: 10px;
  color:#838383;
  margin:0
}

.inputForm {
  border: 2px solid #838383;
  border-radius: 6px;
  width: 100%;
}

.button-realizar-pago {
  background: #419AFF;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  color: white;
  border-radius:8px;
  cursor:pointer;
  font-size:10px;
  padding:5px ;
  width: 100%;

}
