.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.fieldset-login {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.h1-title-login {
  color: #b259e3;
}
.input-login {
  background-color: #c6c6c6;
  border: none;
  border-radius: 12px;
  padding: 0.3em 3.5em 0.3em 1em;
  margin: 0.7em 0;
}
#submit-button {
  background-color: #c04de2;
  color: white;
  border: none;
  border-radius: 12px;
  padding: 0.2em 5.3em;
}
.div-container {
  margin-top: 20vh;
}
header {
  width: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15vh;
  background: #00aae4;
  box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.06);
  border-radius: 0 0 85% 85% / 95%;
  @media (min-width: 768px) {
    border-radius: 0;
  }
}

header > img {
  height: 50px;
}

/*:::::::::INPUT placeholder::::::::::*/
::-webkit-input-placeholder {
  color: #777878;
  font-weight: 700;
  font-size: 1em;
}

:-moz-placeholder {
  /* Firefox 18- */
  color: #777878;
  font-weight: 700;
  font-size: 1em;
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: #777878;
  font-weight: 700;
  font-size: 1em;
}

:-ms-input-placeholder {
  color: #777878;
  font-weight: 700;
  font-size: 1em;
}
/*:::::::::FIN INPUT placeholder:::::::::*/
