.cantidadFactura {
    font-weight: 900;
    font-size: 34px;
    margin: 0;
    color: #707070;
  }
  .labelForm {
    font-weight: bold;
    font-size: 10px;
    color:#838383;
    margin: 0;
  }
  
  .inputForm {
    border: 2px solid #838383;
    border-radius: 6px;
    width: 100%;
  }
  
  .button-realizar-pago {
    background: #419AFF;
    font-weight: bold;
    color: white;
    border-radius:8px;
    cursor:pointer;
    font-size:10px;
    padding: 5px ;
    width: 100%;
  }
